before_install:
  - sudo apt-get update && sudo apt-get install devscripts

script:
  - ./.run-boostrap-tests.sh

notifications:
  irc:
    channels: "irc.freenode.org#salt-devel"
    on_success: change
    on_failure: change
